/* video
---------------------------------------- */
.video{
	position:relative;
	text-align:center;
	width:100%;
	}
.video__meta{
	position:absolute;
	bottom:15px;
	left:15px;
	color:#777;
	text-align:left;
	z-index:1000
	}
	.video__meta dt{
		text-transform:uppercase;
		color:#777;
		font-size:11px;
		margin-bottom:3px;
		}
		.video__meta dd{
			font-size:24px;
			font-family:'cpmono',Courier,monospace;
			margin-bottom:15px;
			}
			.video__meta dd input{
				border: none;
				padding: 0;
				font-size: 24px;
				font-family:'cpmono',Courier,monospace;
				outline:none;
				background: transparent;
			}
		.timecode_active dd,.timecode_active dd input{
			color:#ccc;
			}

.control{
	height:23px;
	border:1px solid #000;
	display:inline-block;
	margin-left:1px;
	width:46px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#717171), color-stop(100%,#262626));
	cursor:pointer;
	position:relative;
	}
	.control:active{
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#262626), color-stop(100%,#717171));
		}
	.control:before{
		content:' ';
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		background:red;
		}
	.control_play:before{
		background:url(../img/control_playgo.png) no-repeat 50% 4px
		}
	.control_pause:before{
		background:url(../img/control_play.png) no-repeat 50% 3px
		}
	.control_play,.control_pause{
		width:66px;
		}
	.control_back{
		border-radius:4px 0 0 4px;
		}
	.control_back:before{
		background:url(../img/control_back.png) no-repeat 50% 3px;
		}
	.control_forw{
		border-radius:0 4px 4px 0;
		}
	.control_forw:before{
		background:url(../img/control_forw.png) no-repeat 50% 3px
		}
#video{
	width:720px;
	margin:0 auto;
	display:block;
	}
.videoobject{
	text-align: center;
	position: relative;
	height: 405px;
	}
	.videoobject video{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		}